torch==2.8.0
transformers==4.56.2
datasets==3.6.0
accelerate==1.10.1
trl==0.25.0
vllm==0.10.2
peft==0.17.1
rich==14.2.0
numpy==2.2.6
deepspeed==0.18.4
wandb==0.22.2
pandas==2.3.3
flashinfer-python==0.5.3
